@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

thead::after {
  line-height: 1.5em;
  content: '\200C';
  display: block;
}

@layer components {
  .input {
    @apply rounded-md border border-black100 border-opacity-10 px-4 py-[6px] text-lg text-black100 text-opacity-40 outline-none;
  }

  .form_input {
    @apply rounded-md border border-[#B8B8B8] px-2 py-[6px] text-[#B8B8B8];
  }

  .event_input {
    @apply rounded-xl bg-[#F2F2F2] px-4 py-2 text-gray;
  }
}

.dashed-border {
  border: 1px dashed #f2545b;
}

.hero-height {
  height: calc(100vh - 100px);
}
@media (max-width: 500px) {
  .hero-height {
    height: auto;
  }
}
